.footer {
  background-color: #2e2e1f;
  color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px;
  position: relative;
  flex-wrap: wrap;
}

.footer-left,
.footer-center,
.footer-right {
  flex: 1;
}

.footer-left .logo-footer {
  width: 50%;
  margin-bottom: 5px;
}

.social-icons img {
  width: 30px;
  margin-right: 10px;
}

.footer-right {
  text-align: right;
  font-size: 0.9em;
  align-self: flex-end;
}

.footer-center {
  text-align: left;
  padding-left: 10px;
}

.footer-center h3 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.footer-center ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-center ul li {
  margin: 6px 0;
}

.footer-center ul li a {
  color: #f0f0f0;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-center ul li a:hover {
  color: #ffd700;
}

.footer-line {
  border: none;
  border-top: 2px solid #f0f0f0;
  width: 80%;
  margin: 6px 0 10px 0;
}

.copyright {
  font-size: 0.9em;
  color: #f0f0f0;
  text-align: right;
}

.copyright .white {
  color: #f0f0f0;
}

.copyright .yellow {
  color: #f5e663;
}