/* Program Section */
.program-section {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 40px 20px;
    flex-wrap: wrap;
    background-image: url(background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.program {
  width: 40%;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.program h2 {
  font-weight: 1000;
}

.program button {
    margin-left: 80%;
    margin-top: 10px;
    padding: 8px 16px;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.pkh {
  background-color: #2e2d26;
  color: #fcef83;
}

.bpnt {
  background-color: #fcef83;
  color: #2e2d26;
}

.bpnt button {
  background-color: #222;
  color: #fcef83;
}

.pkh button {
  background-color: #fcef83;
  color: #2e2d26;
}